@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Courgette&family=Dangrek&family=Fredoka+One&family=Josefin+Sans:ital,wght@1,500&family=Noto+Sans+Mono:wght@800&family=Nunito+Sans:wght@400;600&family=Open+Sans:wght@400;500;600&family=Prompt:wght@300&family=Roboto&family=Rubik&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@500&display=swap');

:root{
   --header-height: 3.5rem;
   --primary-color: #AFF;
   --primary-color-alt: rgb(212, 253, 253);
   --linear-gradient: linear-gradient(
      54deg ,
       rgba(211, 255, 255, 0.98)34% , 
       rgba(232, 248, 255, 0.98)
   );

   --title-color: rgb(246, 154, 246);
   --text-color: rgb(245, 158, 245);
   --text-color-alt: rgb(235, 151, 235);
   --bg-color: rgb(244, 255, 255);
   --bg-color-alt: rgb(183, 255, 255);
   --border-color: rgb(217, 255, 255);
   --roboto-font: 'Roboto', sans-serif;
   --robot-font: 'Bree Serif', serif;

   --fs-h1: 2.75rem;
   --fs-h2: 2.25rem;
   --fs-lg: 1.260rem;
   --fs-base: 1.125rem;
   --fs-sm: 0.875rem;
   --fs-xs: 0.75rem;

   --medium: 500;
   --semibold: 600;
   --bold: 700;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}

body,
button,
input,
textarea {
   font-family: var(--roboto-font);
   font-size: var(--fs-base);
}

body {
   background-color: var(--bg-color);
   color: var(--text-color);
   line-height: 1.5rem;
}

h1,
h2,
h3 {
   font-family: var(--robot-font);
   font-weight: var(--bold);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

button {
   cursor:pointer;
   background: none;
   border: none;
   outline: none;
}

img {
   max-width: 100%;
   height: auto;
}

textarea,
input {
   background: none;
   border: none;
   outline: none;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
   padding-left: 0.9rem;
   padding-right: 0.9rem;
}

.grid {
   display: grid;
}

.section {
   padding-top: 3.75rem;
   padding-bottom: 3.75rem;
}

.section-title {
   font-size: var(--fs-h2);
   line-height: 1.17em;
   font-weight: var(--medium);
   margin-bottom: 1.12em;
}

.text-lg {
   font-size: var(--fs-lg);
   line-height: 1.12em;
}

.text-sm{
   font-size: var(--fs-sm);
   line-height: 1.43em;
}

/* navigation section */

.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
}

.logo-img{
   margin-right: 25px;
   margin-bottom: -20px;
}

.nav {
   height: calc(var(--header-height) + 0.875rem);
   display: flex;
   align-items: flex-end;
}

.nav-list {
   display: flex;
   column-gap: 3.25rem;
}

.nav-link {
   color: var(--title-color);
   font-size: 1rem;
   font-weight: var(--bold);
   font-family: var(--roboto-font);
   text-transform: uppercase;
   position: relative;
   transition: 0.3s;
}

.nav-link:hover {
   opacity: 0.8;
   color: var(--text-color-alt);
}

.nav-link::after{
   content: '';
   position: absolute;
   bottom: 0;
   right: -0.5rem;
   width: 7px;
   height: 2px;
   background-color: var(--text-color);
   opacity: 0;
   transition: 0.3s;
}

.nav-link:hover::after{
   opacity: 1;
}

.active-link{
   opacity: 0.6;
}

.active-link::after{
   opacity: 1;
}

.nav-close,
.nav-toggle {
   display: none;
}

/* Hello / Hello Section */

.home{
   background: var(--linear-gradient);
   background-size: cover;
   padding-top: 5.5rem;
   margin-bottom: 4rem;
   /* position: relative; */
}

/* .home::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--linear-gradient);
} */

.home-container{
   grid-template-columns: 4fr 8fr;
   column-gap: 1.875rem;
}

.home-img,
.home-data {
   z-index: 10;
}

 .home-image{
   width: 90%;
   height: 370;
   object-fit: cover;
   border-radius: 0.3rem;
   transform: translateY(3.125rem);
   box-shadow: 0 0 27px rgba(251, 255, 255, 0.918);
}

.home-name,
.home-work,
.home-list,
.home-social-image {
   color: --text-color;
   font-family: var(--robot-font);
}

.home-name {
   font-size: var(--fs-h1);
   line-height: 1.14em;
   margin: 0.9em 0 0.23em;
}

.home-work{
   margin-bottom: 2.5em;
   font-size: var(--fs-lg);
}

.home-list dt{
   float: left;
   font-weight: var(--bold);
   opacity: 0.8;
}

.home-list dd{
   padding-left: 6.25em;
   font-size: var(--fs-base);
   color: var(--text-color-alt);
}

.home-list dd:not(:last-child){
   margin-bottom: 0.94em;
}

.home-socials{
   margin: 1.25rem 0 2.2rem;
}

.home-social-image{
   font-size: 1.7rem;
   line-height: 1.36em;
   margin-right: 0.25rem;
   opacity: 0.7;
   transition: 0.3s;
   color: var(--text-color);
}
.home-social-image:hover {
   opacity: 1;
}

/* About Section */

.about-details{
   margin-bottom: 1.67em;
   text-align: justify;
}

/* Skills Section */
.skills-container{
   place-items: center;
}

.skills-bar {
   width: 600px;
   background: #fff;
   padding: 25px 30px;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.skills-bar .bar{
   margin: 20px 0;
}

.skills-bar .bar:first-child{
   margin-top: 0px;
}

.skills-bar .bar .info{
   margin-bottom: 5px;
}

.skills-bar .bar .info span{
   font-size: 17px;
   font-weight: 500;
   color: var(--text-color);
   opacity: 0;
   animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText {
100%{
   opacity: 1;
}
}

.skills-bar .bar .progress-line{
   position: relative;
   height: 10px;
   width: 100%;
   background: #f0f0f0;
   border-radius: 10px;
   transform: scaleX(0);
   transform-origin: left;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                     0px 1px rgba(255, 255, 255, 0.8);
   animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span{
   height: 100%;
   width: 80%;
   background: var(--primary-color);
   position: absolute;
   border-radius: 10px;
   transform: scaleX(0);
   transform-origin: left;
   animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    
}

@keyframes animate {
   100%{
      transform: scaleX(1);
   }
}

.progress-line.html span{
   width: 80%;
}
.progress-line.css span{
   width: 65%;
}
.progress-line.js span{
   width: 70%;
}
.progress-line.react span{
   width: 50%;
}


.bar .progress-line span::before{
   position: absolute;
   content: "";
   right: 0;
   top: -5px;
   height: 0;
   width: 0;
   border: 7px solid transparent;
   border-bottom-width: 0px;
   border-right-width: 0px;
   border-top-color: var(--text-color);
   opacity: 0;
   animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after{
   position: absolute;
   right: 0;
   top: -29px;
   color: #fff;
   font-size: 12px;
   font-weight: 500;
   background: var(--text-color);
   padding: 1px 5px;
   border-radius: 3px;
   opacity: 0;
   animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
   100%{
      opacity: 1;
   }
}

.progress-line.html span::after{
   content: "80%";
}
.progress-line.css span::after{
   content: "65%";
}
.progress-line.js span::after{
   content: "70%";
}
.progress-line.react span::after{
   content: "50%";
}

/* Buttons */
.button {
   display: inline-block;
   background-color: var(--primary-color);
   color: var(--title-color);
   padding: 1.1em 2.1em;
   border-radius: 1.56rem;
   font-weight: var(--semibold);
   transition: 0.3s;
}

.button:hover{
   background-color: var(--primary-color-alt);
}

.button-flex {
   display: inline-flex;
   align-items: flex-start;
   column-gap: 0.3rem;
}