@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Courgette&family=Dangrek&family=Fredoka+One&family=Josefin+Sans:ital,wght@1,500&family=Noto+Sans+Mono:wght@800&family=Nunito+Sans:wght@400;600&family=Open+Sans:wght@400;500;600&family=Prompt:wght@300&family=Roboto&family=Rubik&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@500&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: 'Ubuntu', sans-serif;
}